<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">

        <title>{% block title %}{% endblock title %}</title>

        {% block stylesheets %}
        {% endblock %}    
        
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock body %}
    </body>
</html>
