<div class="alert alert-info" id="ibw-survey">
    <a href="#" class="close-flash pull-right">&times;</a>
    <div class="content">
        {{ data|raw }}
    </div>
    {% if survey.canBeDelayed is defined and survey.canBeDelayed == true %}
        <a href="#" id="survey-remind-later">Remind me later</a> 
    {% endif %}
</div>