<script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        var script = document.createElement('script');
        script.type = "text/javascript";
        script.src = "{{ asset('bundles/ibwsurvey/javascripts/jquery.min.js') }}";
        document.getElementsByTagName('head')[0].appendChild(script);
    }
</script>
<script type="text/javascript" src="{{ asset('bundles/ibwsurvey/javascripts/Survey.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/ibwsurvey/javascripts/bootstrap-notify.min.js') }}"></script>
<script type="text/javascript">
    var imgSuccess = "{{ asset('bundles/ibwsurvey/img/flash-sucess.png') }}";
    var imgInfo = "{{ asset('bundles/ibwsurvey/img/flash-info.png') }}";
    var imgWarning = "{{ asset('bundles/ibwsurvey/img/flash-alert.png') }}";
    var imgError = "{{ asset('bundles/ibwsurvey/img/flash-error.png') }}";
    $(function()
    {
        var survey = Survey.init({
            surveyId: "{{ id }}",
            route: "{{ path('ibw_get_survey_template', {surveyId: id}) }}",
            logRoute: "{{ path('ibw_create_user_survey_log', {surveyId: id}) }}",
            userId: "{{ app.user.id|default() }}"
        }); 
    });
</script>
<link href="{{ asset('bundles/ibwsurvey/stylesheet/survey.css') }}" rel="stylesheet">
<div id="append-flash-survey" class="col-lg-12"></div>