<!--login modal-->
<div id="ibw-survey" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <strong class="modal-title" id="myModalLabel">{{ survey.title|default() }}</strong>
            </div>
            <div class="modal-body">
                {{ data|raw }}
            </div>
            {% if survey.canBeDelayed is defined and survey.canBeDelayed == true %}
                <div class="modal-footer">
                    <div class="col-md-12">
                        <a href="#" data-dismiss="modal" id="survey-remind-later" aria-hidden="true">Remind me later</a> 
                    </div>	
                </div>
            {% endif %}
        </div>
    </div>
</div>