{% extends 'IbwSurveyBundle::base.html.twig' %}

{% block body -%}
    <h1>Survey list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Displaytype</th>
                <th>Title</th>
                <th>Messagefile</th>
                <th>Displaytime</th>
                <th>Canbedelayed</th>
                <th>Isactive</th>
                <th>Criteria</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('survey_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.displayType }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.messageFile }}</td>
                <td>{% if entity.displayTime %}{{ entity.displayTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.canBeDelayed }}</td>
                <td>{{ entity.isActive }}</td>
                <td>{{ entity.criteria }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('survey_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('survey_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('survey_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
