{% extends 'IbwSurveyBundle::base.html.twig' %}

{% block body -%}
    <h1>Survey creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('survey') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
