{% extends 'IbwSurveyBundle::base.html.twig' %}

{% block body -%}
    <h1>Survey</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Displaytype</th>
                <td>{{ entity.displayType }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Messagefile</th>
                <td>{{ entity.messageFile }}</td>
            </tr>
            <tr>
                <th>Displaytime</th>
                <td>{{ entity.displayTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Canbedelayed</th>
                <td>{{ entity.canBeDelayed }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>
            <tr>
                <th>Criteria</th>
                <td>{{ entity.criteria }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('survey') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('survey_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
