[data-notify="progressbar"] {
	display: none;
}

#append-flash-survey{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 2;
}
#append-flash-survey #ibw-survey{
	border: 0px;
	border: none;
	background: #F3F5EF;
	padding: 20px;
	border-bottom: 3px solid #EAEFE3;
	position: relative;
	padding-left: 110px;
}
#append-flash-survey #ibw-survey .close-flash{
	font-size: 26px;
	margin-left: 20px;
}
#append-flash-survey #ibw-survey p{
	color: #374047;
	font-size: 18px;
	margin-bottom: 5px;
}
#append-flash-survey #ibw-survey p a{
	font-weight: 700;
}
#append-flash-survey #ibw-survey #survey-remind-later{
	margin-top: 10px;
	font-size: 15px;
	display: block;
/*	margin-left: 90px;*/
}
#append-flash-survey #ibw-survey p a:hover, #ibw-survey #survey-remind-later:hover, #ibw-survey p a:active, #ibw-survey p a:focus{
	color: #13a067;
}
#append-flash-survey #ibw-survey:before{
	position: absolute;
	content: '';
	background: url("../img/checklist.png") no-repeat;
	width: 72px;
	height: 72px;
	display: block;
	z-index: 1;
	top: 30px;
	left: 20px;
}
#append-flash-survey #ibw-survey .content{
/*	padding-left: 90px;*/
}
@media screen and (max-width: 480px){
	#append-flash-survey #ibw-survey p{
		font-size: 16px;
	}
}

#ibw-survey .modal-header{
	margin-bottom: 0;
}
#ibw-survey .modal-body p a{
	font-weight: 700;
}